label {
  /* justify-content: start; */
  display: block;
  text-align: left;
}
fieldset {
  margin: 0 auto;
  width: 100%;
}

.header> [class*='col'] {
  font-weight: bold;
}

.header> [class*='col-'], .results> [class*='col-'] {
  padding: 0 1em;
}

.result> [class*='col-']>a, .results> [class*='col-']>form {
  display: inline-block;
  margin-right: 1em;
}

.product-detail [class*='col']>input {
  width: 70%;
}

.product-id {
  overflow-wrap: break-word;
}

.row.results [class*='col']>a, .row.results [class*='col']>button, .row-results>a, .row-results>button {
  margin-right: 5px;
}
